<meta charset="utf-8">
<title>{{title}} - {{> YOUR-WIKI-TITLE-HERE}}</title>
<meta name="robots" content="noindex">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
<meta name="theme-color" content="#222">
<link rel="apple-touch-icon" href="/icon_192.png">
<link rel="manifest" href="/manifest.webmanifest">