<nav id="main-menu">
	<a href="#" class="close-menu-overlay" aria-hidden="true"></a>
	<ul>
		<li>
			<i class="fa-solid fa-book"></i>
			Documentation
			<ul>
				<li><a href="/docs/deploy.hbs">Deployment Details</li>
				<li><a href="/docs/styledoc.hbs">CSS Style Documentation</li>
				<li><a href="/docs/howto.hbs">How to Use this Template</li>
			</ul>
		</li>
		<li>
			<i class="fa-solid fa-book-atlas"></i>
			World
		</li>
		<li>
			<i class="fa-solid fa-user-astronaut"></i>
			Characters
			<ul>
				<li><a href="/chara/zumi.hbs">Zumi</a></li>
			</ul>
		</li>
	</ul>
</nav>
